<b>History</b>
<div *ngIf="historyService.history.length" style="position: absolute; top: 30px; bottom: 30px; left: 0px; right: 0px;">
  <div style="height: 100%; overflow-y: scroll; border:1px solid grey;">
    <!-- ngClass doc https://angular.io/api/common/NgClass -->
    <div *ngFor='let entry of historyService.history.reverse(); let idx = index'
      class="history-entry" (mouseover)="hoverIdx=idx" (mouseout)="hoverIdx=-1" 
      [ngClass]="{'hover-entry': hoverIdx==idx}"> 
      <div style="display: flex; text-align: right;">
        <div class="history-selector" (click)="notify.emit(entry)"></div>
        <div>{{entry.operands}}</div>
      </div>
      <div style="display: flex;">
        <div class="history-selector" (click)="notify.emit(entry)"></div>
        <div>{{entry.result}}</div> 
      </div> 
    </div>
  </div>
  <button class="clear" (click)="historyService.clear()">clear</button>
</div>
<div *ngIf="!historyService.history.length">
  History is empty...  
</div>